@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1> School Examing System</h1>
    <p class="lead">Welcome in School Examing System, Log in or Register as a teacher or student.</p>
    <p>
        <a href="@Url.Action("Index", "Teacher")" class="btn btn-primary btn-lg">
            Log in as a Teacher &raquo;
        </a>
    </p>
    <p>
        <a href="@Url.Action("RegisterTeacher", "Account")" class="btn btn-primary btn-lg">
            Register as a Teacher &raquo;
        </a>
    </p>
    <p>
        <a href="@Url.Action("Index", "Student")" class="btn btn-primary btn-lg">
            Log in as a Student &raquo;
        </a>
    </p>
    <p>
        <a href="@Url.Action("RegisterStudent", "Account")" class="btn btn-primary btn-lg">
            Register as a Student &raquo;
        </a>
    </p>
</div>