
@{
    ViewBag.Title = "AuthorizeFailed";
}

<h2>Authorize Failed</h2>

<div class="alert alert-danger" role="alert">@ViewData["Message"]</div>
<p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-lg">
        Log in &raquo;
    </a>
