
<h3>Student index Page</h3>
<h4>On this page you can see your student groups, test available to you and your test results.</h4>
<dl class="dl-horizontal">
    <dt>
        1.
    </dt>
    <dd>
        <li>@Html.ActionLink("Available tests", "IndexStudent", "TestTemplate")</li>
    </dd>
    <dt>
        2.
    </dt>
    <dd>
        <li>@Html.ActionLink("Your student groups", "IndexStudent", "StudentGroup",null,null,null,new {email = ViewBag.Student},null)</li>

    </dd>
    <dt>
        3.
    </dt>
    <dd>

    </dd>

</dl>



