
<h3>Student index Page</h3>
<h4>On this page you can see your student groups, test available to you and your test results.</h4>
<dl class="dl-horizontal">
    <dt>
        dorobit
    </dt>
    <dd>
        <li>@Html.ActionLink("Test Templates", "Index", "TestTemplate")</li>
    </dd>
    <dt>
        dorobit
    </dt>
    <dd>
        <li>@Html.ActionLink("Student Groups", "Index", "StudentGroup")</li>

    </dd>
    <dt>
        Test
    </dt>
    <dd>

    </dd>

</dl>



